<footer>
            
  <div class="jumbotron">
          
      <div class="container-fluid text-center">
          <div class="row">
                  
              <div class="column col-sm-3">
                  <h3 style="color: #5ae503"><strong>Links</strong></h3>
                  <br>
                  <a href="https://upsc.gov.in/" target="_blank" style="color: black"><h6>UPSC</h6></a>
                  <a href="http://ukpsc.gov.in/" target="_blank" style="color: black"><h6>UKPSC</h6></a>
                  <a href="http://uppsc.up.nic.in/" target="_blank" style="color: black"><h6>UPPSC</h6></a>
                  <h6>Terms and Conditions</h6>
              </div>
                  
              <div class="column col-sm-5">
                  <h3 style="color: #5ae503"><strong>Business Hours</strong></h3>
                  <br>
                  <h5>Mon-Fri:    10:00 AM – 7:30 PM</h5>
                  <h5>Sat,Sun:	Closed</h5>
                  <br>
                  <h5 style="color: #7c8174"><strong>Website developer- <a href="https://www.instagram.com/bhandariarjit/" target="_blank" style="color: #7c8174;margin-left:-.2vw;">Arjit Bhandari</a></strong></h5>
                  <h5 style="color: #7c8174"><strong>For any queries about website,drop a message on</strong></h5>
                  <a href="https://wa.me/919456300762" target="_blank"><i class="fa fa-whatsapp" style="font-size:24px;background-color: #5fce19;color:white;border-radius:1vw"></i></a>
                  <a href="https://m.me/2183741401936599" target="_blank"><img id="messenger" src="./images/messenger.jpg"></a>
              </div>
                  
              <div class="column col-sm-4">
                  <h3 style="color: #5ae503"><strong>Avadànn Academy</strong></h3>
                  <br>
                  
                  <div class="row text-center" >
                      <div class="col-sm-6" id="last">
                          <h5 style="color: #7c8174"><strong>Contact Us:</strong></h5>
                          <a href="https://wa.me/919456360555" target="_blank"><i class="fa fa-whatsapp" style="font-size:24px;background-color: #5fce19;color:white;border-radius:1vw"></i></a>
                          <br>
                      </div>
                      
                      <div class="col-sm-4">
                          <h5 style="color: #7c8174"><strong>Follow us on:</strong></h5>
                          <a href="https://www.facebook.com/Avadannias/?ref=br_rs" target="_blank"><i class="fa fa-facebook-square" style="font-size:30px;color:#2646cc "></i></a>
                      </div>  
                  </div>
                  
                  <br><br>
                  
                  <h6 style="font-size:11px">&copy 2019...All Rights Reserved</h6>
              </div>
          </div>
          
      </div>
  </div>
  <script src="/first.js"></script>
</footer>